name: Build Test（linux-arm64）

on:
  workflow_dispatch:

env:
  PROJECT_NAME: ClaudeCodeApiConfigManager
  CONFIGURATION: Release

jobs:
  build-linux-arm64:
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
      - name: 发布 linux-arm64
        run: dotnet publish ./${{ env.PROJECT_NAME }}.csproj -c ${{ env.CONFIGURATION }} -r linux-arm64 -p:PublishAot=true -p:DebugType=None -p:DebugSymbols=false -o ./publish/ccm-linux-arm64
      - uses: actions/upload-artifact@v4
        with:
          name: ccm-linux-arm64
          path: ./publish/ccm-linux-arm64
          retention-days: 7
